.box {
  height: 250px;
  width: 250px;
  border: 5px solid black;
  margin: 2px;
  /* here is a line so I can forget to add a comment */
}

.truck {
  padding: 10px;
  border: 5px solid red;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}